---
layout: page
title:
description: The personal blog of Alasdair Mercer (neocotic) and home to my many open source development projects
keywords: web, developer, programmer, software, engineer, java, javascript, html5, css3, php, movies, games
url: /
---
<div class="span14 max posts">
{% for post in paginator.posts %}
  <article>
    <header>
      <h2>
        <a href="{{post.url}}">{{post.title}}</a>
        <small>
          by
          <a href="https://plus.google.com/114861910136746455630" rel="author" class="google-profile"><img src="https://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a>
          <a href="/about" rel="author">Alasdair</a>
          on {{post.date | date_to_string}}</small>
      </h2>
      <h6 class="comments">
        <small><a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.id}}">Comments</a></small>
      <h6>
    </header>
    <section>
      {{post.content}}
    </section>
  </article>
{% endfor %}
  <div class="pagination">
    <ul>
    {% if paginator.previous_page %}
      <li class="prev">
    {% else %}
      <li class="prev disabled">
    {% endif %}
      {% if paginator.page < 3 %}
        <a href="/">&larr; Previous</a>
      {% else %}
        <a href="/page{{paginator.previous_page}}">&larr; Previous</a>
      {% endif %}
      </li>
    {% for i in (1..paginator.total_pages) %}
    {% if i == paginator.page %}
      <li class="active">
    {% else %}
      <li>
    {% endif %}
      {% if i == 1 %}
        <a href="/">{{i}}</a>
      {% else %}
        <a href="/page{{i}}">{{i}}</a>
      {% endif %}
      </li>
    {% endfor %}
    {% if paginator.next_page %}
      <li class="next">
    {% else %}
      <li class="next disabled">
    {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}">Next &rarr;</a>
      {% else %}
        <a href="/">Next &rarr;</a>
      {% endif %}
      </li>
    </ul>
  </div>
</div>
<script>
  var disqus_shortname = 'neocotic';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>