* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1D1D1D;
    color: #222;
    font-family: "Trebuchet MS";
    font-size: 12px;
    overflow: hidden;
}
.gh-icon-admin,
.gh-icon-back,
.gh-icon-compare,
.gh-icon-download,
.gh-icon-fork,
.gh-icon-forward,
.gh-icon-leave,
.gh-icon-pull-request,
.gh-icon-reply,
.gh-icon-watch {
    background: url(https://d3nwyuy0nl342s.cloudfront.net/images/modules/buttons/minibutton_icons.png?v20100306) 0 0 no-repeat;
    height: 22px;
    margin-left: 4px;
    width: 18px;
}
.gh-icon-admin {
    background-position: 0 -25px;
    width: 16px;
}
.gh-icon-back {
    background-position: -160px -25px;
    width: 16px;
}
.gh-icon-compare {
    background-position: -100px -25px;
    width: 17px;
}
.gh-icon-download {
    background-position: -40px -25px;
}
.gh-icon-fork {
    background-position: -80px -25px;
    width: 17px;
}
.gh-icon-forward {
    background-position: -180px -25px;
    width: 16px;
}
.gh-icon-leave {
    background-position: -120px -25px;
    width: 15px;
}
.gh-icon-pull-request {
    background-position: -60px -25px;
    width: 17px;
}
.gh-icon-reply {
    background-position: -140px -25px;
    width: 16px;
}
.gh-icon-watch {
    background-position: -20px -25px;
}
#console {
    overflow: hidden;
    width: 100%;
}
#console .hints {
    background: -moz-linear-gradient(center bottom,#2E3034,#1F1F1F);
    background: -webkit-gradient(linear,left bottom,left top,#2E3034,#1F1F1F);
    background-color: #000;
    border: 2px solid #656565;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-width: 2px 2px 0 2px;
    bottom: 43px;
    left: 5px;
    padding: 4px 4px 0;
    position: absolute;
    z-index: 10000;
}
#console .hints a {
    color: #EEE;
    cursor: pointer;
    display: block;
    margin-bottom: 2px;
    outline: none;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
}
#console .hints a.selected {
    background: -moz-linear-gradient(center bottom,#37383A,#292A2B);
    background: -webkit-gradient(linear,left bottom,left top,#37383A,#292A2B);
    background-color: #F0F0F0;
    border-bottom: 1px solid #1D1E1F;
    border-left: 1px solid #505051;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-right: 1px solid #505051;
    border-top: 1px solid #505051;
    padding: 2px 4px;
}
#console .hints a span {
    color: #909090;
    font-style: italic;
    font-size: 11px;
    margin-left: 4px;
}
#console .input {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1D1D1D),color-stop(1, #292929));
    background: -moz-linear-gradient(center bottom,#1D1D1D 0%,#292929 100%);
    border-top: 1px solid #171717;
    margin-right: 5px;
    padding: 6px 0 6px;
    position: relative;
    width: 100%;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
}
#console .input .arrow {
    background: url(../images/arrow.png) no-repeat 0 0;
    font-size: 24px;
    font-weight: bold;
    height: 14px;
    left: 8px;
    position: absolute;
    top: 14px;
    width: 9px;
}
#console .input .main {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5, #F7F7F7),color-stop(1, #DADADA));
    background: -moz-linear-gradient(center bottom,#F7F7F7 50%,#DADADA 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset;
    color: #303030;
    font-size: 14px;
    height: 16px;
    margin: 0 5px 0 26px;
    outline: none;
    padding: 6px 10px 8px;
    text-overflow: ellipsis;
}
#console .input .main input {
    background-color: transparent;
    border: 0;
    color: #303030;
    font-family: "courier new",fixed,swiss,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    outline: none;
    width: 100%;
}
#console .output {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2A2A2A),color-stop(1, #1D1D1D));
    background: -moz-linear-gradient(center bottom,#2A2A2A 0%,#1D1D1D 100%);
    color: #EEE;
    font-family: menlo,courier new,fixed,swiss,sans-serif;
    overflow: auto;
    padding: 3px 0;
    width: auto;
}
#console .output a {
    color: #EEE;
    outline: none;
}
#console .output a:hover {
    text-decoration: none;
}
#console .output .main {
    overflow: auto;
    width: auto;
}
#console .output .message {
    padding: 2px 10px;
}
#console .output .message a[data-cmd] {
    cursor: pointer;
    text-decoration: underline;
}
#console .output .message a[data-cmd]:hover {
    text-decoration: none;
}
#console .output .message table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}
#console .output .message table td,
#console .output .message table th {
    padding-right: 10px;
    vertical-align: top;
}
#console .output .message table .highlight:hover,
#console .output .message table .highlighted {
    background-color: #333;
}
#console .output .message.command,
#console .output .message.command a {
    color: #86C2F6;
}
#console .output .message.error,
#console .output .message.error a {
    color: #CD5C5C;
}
#console .output .message.info,
#console .output .message.info a {
    color: #90EE90;
}
#console .output .message.warning,
#console .output .message.warning a {
    color: #FFD700;
}
#console .output .message-group.completed {
    border-bottom: 1px solid #444;
    margin-bottom: 6px;
    padding-bottom: 6px;
}