---
metatitle: Operations &middot; Guide &middot; Template
subtitle: How to use operations
layout: template-guide
navbar_sub_url: guide/operations
sidebar_url: operations
description: Get to grips with using operations in the Template Google Chrome extension
keywords: template, google, chrome, extension, addon, writing, editing, guide, documentation, help, operations, download, open, source, neocotic, github
---
<p>
  <strong>Operations</strong> are performed using sections, accepting its rendered
  contents as an argument.
</p>
<table class="table table-condensed table-bordered table-striped">
  <caption><a name="definitions"></a>Definitions</caption>
  <thead>
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 15%">Argument</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a name="capitalise"></a><a name="capitalize"></a>capitalise<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>Transform the text provided into title case</td>
    </tr>
    <tr>
      <td><a name="cookie"></a>cookie</td>
      <td>Text</td>
      <td>Get the value for the cookie with the name provided</td>
    </tr>
    <tr>
      <td><a name="date-time"></a>dateTime</td>
      <td>Text</td>
      <td>
        Format the current date &amp; time using the pattern provided
        <br>
        (see <a href="http://php.net/manual/en/function.date.php#refsect1-function.date-parameters"><abbr rel="tooltip" title="Hypertext Preprocessor">PHP</abbr>s date</a>
        for more details)
      </td>
    </tr>
    <tr>
      <td><a name="decode"></a>decode</td>
      <td>Text</td>
      <td>Decode the previously encoded text provided</td>
    </tr>
    <tr>
      <td><a name="encode"></a>encode</td>
      <td>Text</td>
      <td>
        Encode the text provided so that it can be safely used in a query string
      </td>
    </tr>
    <tr>
      <td><a name="fparam"></a>fparam</td>
      <td>Text</td>
      <td>
        Get the value of the parameter provided from within the hash fragment
      </td>
    </tr>
    <tr>
      <td><a name="fsegment"></a>fsegment</td>
      <td>Number</td>
      <td>
        Get the segment at the index provided from within the hash fragment
      </td>
    </tr>
    <tr>
      <td><a name="last-modified"></a>lastModified <a href="#ref-1" class="bold">&sup1;</a></td>
      <td>Text</td>
      <td>
        Format the last modified date &amp; time using the pattern provided
        <br>
        (see <a href="http://php.net/manual/en/function.date.php#refsect1-function.date-parameters"><abbr rel="tooltip" title="Hypertext Preprocessor">PHP</abbr>s date</a>
        for more details)
      </td>
    </tr>
    <tr>
      <td><a name="length"></a>length<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>Get the character length of the text provided</td>
    </tr>
    <tr>
      <td><a name="lower-case"></a>lowerCase<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>Transform the text provided into lower case</td>
    </tr>
    <tr>
      <td><a name="param"></a>param</td>
      <td>Text</td>
      <td>Get the value of the parameter provided</td>
    </tr>
    <tr>
      <td><a name="segment"></a>segment</td>
      <td>Number</td>
      <td>Get the segment at the index provided</td>
    </tr>
    <tr>
      <td><a name="shorten"></a>shorten</td>
      <td>Text</td>
      <td>
        Shorten the <abbr rel="tooltip" title="Uniform Resource Locator">URL</abbr>
        provided using the active <abbr rel="tooltip" title="Uniform Resource Locator">URL</abbr>
        shortener
      </td>
    </tr>
    <tr>
      <td><a name="tidy"></a>tidy<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>
        Reduce all of the joined spaces and tabs into single spaces within the
        text provided before removing all leading and trailing whitespace
      </td>
    </tr>
    <tr>
      <td><a name="trim"></a>trim<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>
        Remove all leading and trailing whitespace from the text provided
      </td>
    </tr>
    <tr>
      <td><a name="trim-left"></a>trimLeft<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>Remove all leading whitespace from the text provided</td>
    </tr>
    <tr>
      <td><a name="trim-right"></a>trimRight<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>Remove all trailing whitespace from the text provided</td>
    </tr>
    <tr>
      <td><a name="upper-case"></a>upperCase<span class="label label-success pull-right">New</span></td>
      <td>Text</td>
      <td>Transform the text provided into upper case</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <ul class="unstyled" style="margin-bottom: 0">
          <li>
            <a href="#ref-1" id="ref-1" class="bold">&sup1;</a>
            <em>Not available on internal Chrome pages or the <a href="https://chrome.google.com/webstore/">Chrome Web Store</a></em>
          </li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-target="#examples">Examples</a>
    </div>
    <div id="examples" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>This page's information will be used in the following examples.</p>
        <p>
          To output the current date &amp; time in <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a>
          format you would use;
        </p>
{% highlight html %}
Today is {#dateTime}Y-m-d\TH:i:sP{/dateTime}.
{% endhighlight %}
        <p>
          Also, the <em>c</em> parameter would also have the same outcome in this
          case. If you wanted to safely pass the whole <abbr rel="tooltip" title="Uniform Resource Locator">URL</abbr>
          as a parameter in a query string;
        </p>
{% highlight html %}
http://example.com/something.do?url={#encode}{url}{/encode}
{% endhighlight %}
        <p>
          This escapes all of the necessary characters within <abbr rel="tooltip" title="Uniform Resource Locator">URL</abbr>
          and outputs the following;
        </p>
{% highlight html %}
http://example.com/something.do?url=http%3A%2F%2Fneocotic.com%2Ftemplate%2Fguide%2Foperations
{% endhighlight %}
        <p>
          To access the last segment of the <abbr rel="tooltip" title="Uniform Resource Locator">URL</abbr>'s
          path;
        </p>
{% highlight html %}
I am currently viewing "{#segment}-1{/segment}".
{% endhighlight %}
        <p>Would render the following output;</p>
{% highlight html %}
I am currently viewing "operations".
{% endhighlight %}
        <p>
          Let's pretend again that the query string for this page is <em>foo=bar&amp;fu=baz</em>.
          Accessing the value of the <em>foo</em> parameter is as simple as the
          following;
        </p>
{% highlight html %}
The value of foo is "{#param}foo{/param}".
{% endhighlight %}
        <p>This would cause the following output to be rendered;</p>
{% highlight html %}
The value of foo is "bar".
{% endhighlight %}
      </div>
    </div>
  </div>
</div>
<div class="well">
  <h3><a name="notes"></a>Notes</h3>
  <p>
    The following notes only apply to <a href="#segment">segment</a> and <a href="#fsegment">fsegment</a>
    operations;
  </p>
  <ul>
    <li>
      The count is not zero-indexed like an array (e.g. <code>{#segment}1{/segment}</code>
      returns the first segment)
    </li>
    <li>
      The argument can be negative values, in which case it will count back from
      the end of the path rather than forwards from the start
    </li>
  </ul>
</div>