{% if page.sidebar_items %}
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      {% for item in page.sidebar_items %}
        {% if item.divider %}
          <li class="divider"></li>
        {% elsif item.items %}
          <li class="nav-header">{% if item.badge %}<span class="badge pull-right{% if item.badge.style %} badge-{{item.badge.style}}{% endif %}">{{item.badge.value}}</span>{% endif %}{% if item.icon %}<i class="icon-{{item.icon}}"></i> {% endif %}{{item.text}}</li>
          {% for sub_item in item.items %}
            {% if sub_item.divider %}
              <li class="divider"></li>
            {% else %}
              <li{% if sub_item.href == page.sidebar_url %} class="active"{% endif %}><a href="{{page.sidebar_base_url}}/{{sub_item.href}}">{% if sub_item.badge %}<span class="badge pull-right{% if sub_item.badge.style %} badge-{{sub_item.badge.style}}{% endif %}">{{sub_item.badge.value}}</span>{% endif %}{% if sub_item.icon %}<i class="icon-{{sub_item.icon}}"></i> {% endif %}{{sub_item.text}}</a></li>
            {% endif %}
          {% endfor %}
        {% else %}
          <li{% if item.href == page.sidebar_url %} class="active"{% endif %}><a href="{{page.sidebar_base_url}}/{{item.href}}">{% if item.badge %}<span class="badge pull-right{% if item.badge.style %} badge-{{item.badge.style}}{% endif %}">{{item.badge.value}}</span>{% endif %}{% if item.icon %}<i class="icon-{{item.icon}}"></i> {% endif %}{{item.text}}</a></li>
        {% endif %}
      {% endfor %}
    </ul><!--/.nav-list -->
  </div><!--/.sidebar-nav -->
{% endif %}