body {
  position: relative;
  padding-top: 90px;
}
.sidebar-nav {
  padding: 9px 0;
}
a {
  cursor: pointer;
}
abbr[rel=tooltip] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
td > .label,
th > .label {
  padding-bottom: 0;
}
.dropdown-menu li:hover [class^="icon-"],
.dropdown-menu li:hover [class*=" icon-"],
.dropdown-menu .active [class^="icon-"],
.dropdown-menu .active [class*=" icon-"],
.nav-list .active [class^="icon-"],
.nav-list .active [class*=" icon-"] {
  background-image: url("/assets/img/glyphicons-halflings-white.png");
}
.dropdown-menu .active [class^="badge"],
.dropdown-menu .active [class*=" badge"],
.dropdown-menu .active:hover [class^="badge"],
.dropdown-menu .active:hover [class*=" badge"] {
  background-color: white;
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.dropdown-menu li:hover [class^="badge"],
.dropdown-menu li:hover [class*=" badge"],
.nav-list .active [class^="badge"],
.nav-list .active [class*=" badge"] {
  background-color: white;
  color: #08c;
  text-shadow: 0 -1px 0 rgba(0, 136, 204, 0.25);
}
.google-profile img {
  padding-bottom: 5px;
}
.posts {
  margin-top: -60px;
}
.posts .page-header {
  padding-bottom: 3px;
  margin: 18px 0;
  border-bottom: 1px solid #eee;
}
.posts .page-header h1,
.posts .page-header h2,
.posts .page-header h3,
.posts .page-header h4,
.posts .page-header h5,
.posts .page-header h6 {
  line-height: 1;
}
.post .page-header .lead {
  font-size: 18px;
}
.posts .post .page-header .lead {
  font-size: 14px;
  margin-bottom: 6px;
}
.page-header .lead:last-child {
  margin-bottom: 0px;
}
.posts .post {
  padding-top: 60px;
}
.gravatar {
  float: left;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.bold {
  font-weight: bold !important;
}
.center {
  text-align: center !important;
}
.middle {
  vertical-align: middle !important;
}
.inline {
  display: inline-block !important;
}
#disqus_thread {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
#disqus_thread h1,
#disqus_thread h2,
#disqus_thread h3,
#disqus_thread h4,
#disqus_thread h5,
#disqus_thread h6 {
  line-height: inherit;
}
#disqus_thread .dsq-trackback-url input {
  cursor: inherit;
}
.stContainer {
  margin-top: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 15px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #d5d5d5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}