<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  {% if page.metatitle %}
    <title>{{page.metatitle}} ~ neocotic</title>
  {% elsif page.title %}
    <title>{{page.title}} ~ neocotic</title>
  {% else %}
    <title>neocotic</title>
  {% endif %}
    {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{page.keywords}}">{% endif %}
    <meta name="author" content="Alasdair Mercer">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-twipsy.js"></script>
    <script src="/assets/custom.js"></script>
  {% if page.share %}
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({
        onhover   : false,
        publisher : '22a034ba-ce1f-48fa-b612-d6ca2289060a'
      });
    </script>
  {% endif %}
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/syntax.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-114x114.png" sizes="114x114">
    <link rel="alternate" href="http://feeds.feedburner.com/neocotic" title="neocotic" type="application/atom+xml">
    {% if page.chromeinstall %}<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/{{page.chromeinstall}}">{% endif %}
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">neocotic</a>
          <ul class="nav">
            <li data-activate="(^\/$|^\/(index(\.html)?|page[\d]+)$)"><a href="/">Home</a></li>
            <li data-activate="^\/about(\.html)?$"><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="https://github.com/neocotic" class="dropdown-toggle">Projects</a>
              <ul class="dropdown-menu" id="projects-dropdown"></ul>
            </li>
          </ul>
          <form action="/search" class="pull-right">
            <input name="q" type="text" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
      {% if page.share %}
        <div class="stContainer">
          <span class="st_twitter_vcount" displayText="Tweet"></span>
          <span class="st_plusone_vcount"></span>
          <span class="st_fblike_vcount"></span>
          <span class="st_linkedin_vcount" displayText="LinkedIn"></span>
          <span class="st_email_button" displayText="Email"></span>
          <span class="st_sharethis_button" displayText="Share"></span>
        </div>
      {% endif %}
        {{content}}
      </div>
      <footer>
        <div class="container">
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; Alasdair Mercer</p>
        </div>
      </footer>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27505414-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }());
    </script>
  </body>
</html>