---
layout: page
---
<div class="span3 max sidebar-left">
  <h5>Writing Templates</h5>
  <ul class="unstyled">
    <li><a href="/template/writing-templates">Introduction</a></li>
    <li>
      <a href="/template/writing-templates/simple-values">Simple Values</a>
    </li>
    <li>
      <a href="/template/writing-templates/complex-values">Complex Values</a>
    </li>
    <li><a href="/template/writing-templates/options">Options</a></li>
    <li><a href="/template/writing-templates/functions">Functions</a></li>
  </ul>
</div>
<div class="span10 max">
  {{content}}
</div>