---
layout: default
---
{% if page.title or page.subtitle or page.navbar_items %}
  <header class="{% if page.header_jumbo %}jumbotron subhead{% else %}page-header{% endif %}">
	  {% if page.title %}<h1>{{page.title}}</h1>{% endif %}
	  {% if page.subtitle %}<p class="lead">{{page.subtitle}}</p>{% endif %}
    {% include navbar.html %}
	</header>
{% endif %}
<section>
	{{content}}
	{% if page.share %}
	  <div class="stContainer">
	    <span class="st_twitter_hcount" displayText="Tweet"></span>
	    <span class="st_plusone_hcount" displayText="Google +1"></span>
	    <span class="st_facebook_hcount" displayText="Facebook"></span>
	    <span class="st_linkedin_hcount" displayText="LinkedIn"></span>
	    <span class="st_email_hcount" displayText="Email"></span>
	    <span class="st_sharethis_hcount" displayText="Share"></span>
	  </div>
	{% endif %}
</section>